<%= form_for(@eqi_result) do |f| %>
  <% if @eqi_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eqi_result.errors.count, "error") %> prohibited this eqi_result from being saved:</h2>

      <ul>
      <% @eqi_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stateCode %><br>
    <%= f.text_field :stateCode %>
  </div>
  <div class="field">
    <%= f.label :stateDescription %><br>
    <%= f.text_field :stateDescription %>
  </div>
  <div class="field">
    <%= f.label :countyCode %><br>
    <%= f.text_field :countyCode %>
  </div>
  <div class="field">
    <%= f.label :countyDescription %><br>
    <%= f.text_field :countyDescription %>
  </div>
  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :eqi %><br>
    <%= f.text_field :eqi %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
