<p id="notice"><%= notice %></p>

<p>
  <strong>Statecode:</strong>
  <%= @eqi_result.stateCode %>
</p>

<p>
  <strong>Statedescription:</strong>
  <%= @eqi_result.stateDescription %>
</p>

<p>
  <strong>Countycode:</strong>
  <%= @eqi_result.countyCode %>
</p>

<p>
  <strong>Countydescription:</strong>
  <%= @eqi_result.countyDescription %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @eqi_result.domain %>
</p>

<p>
  <strong>Eqi:</strong>
  <%= @eqi_result.eqi %>
</p>

<%= link_to 'Edit', edit_eqi_result_path(@eqi_result) %> |
<%= link_to 'Back', eqi_results_path %>
